* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sidebar {
    background-color: #BF8040;
}
.sidebar .sidebar-brand {
    height: auto;
    display: block;
}

.navbar-search .btn  {
    background-color: #BF8040;
}
.navbar-search .btn i {
    color: #fff;
}